.dataLbl, .dataLayersDiv{
    display:none;
}

g>image:hover{
    cursor:pointer;

}

.nombre-series {
	color: #fff;
	background-color: #333333;
	width: 22%;
	height: 30;
	font-size: larger;
    padding-left: 10px;
    padding-top: 3;
    font-weight: bolder;
    margin-left: -15px;
}